/* Import */
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(./style-intro.css);
*{
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
    padding: 0;
    cursor: url('https://cdn.pixabay.com/photo/2021/08/16/07/30/press-here-6549631_1280.png'), auto;
    background-color: transparent !important; 
  }

  #particles-js{

    background-color: #1E1F26;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    position: fixed;
  }

  /* nav-bar */
.navbar-navv{
  display: flex;
  justify-content: center;
}
  .navbar-navv ul {
    margin: 0;
    padding: 0;
    display: flex;

  }
  
  .navbar-navv li {
    list-style: none;
    transition: .3s;
  }
  
  .navbar-navv li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
  }
  
  .navbar-navv li:hover {
    background-color: rgba(85, 85, 85, 0.5);
    transition: .3s;
  }
  .aeaaa{
    display: flex;
    justify-content: space-between;
  }
  .toggle {
    position: absolute;
    right: 1rem;
    top: .75rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 3rem;
  }
  
  .toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .toggle-button{
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid rgb(255, 0, 0); /* Color inicial del borde */
    transition: border-color 0.5s; /* Transición suave para el cambio de color */
  }
  @media (max-width: 30000px) {
    .toggle {
      display: flex;
    }
  .imgButton{
    max-width: 100%;
    height: auto;
  }

    .navbar-navv {
      display: none;
      width: 100%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-navv ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-navv li {
      text-align: center;
    }
  
    .navbar-navv li a {
      padding: .5rem 1rem;
    }
  
    .navbar-collapse ul {
      display: none;
    }
  
    .navbar-collapse.active ul {
      display: flex;
      flex-direction: column;
    }
  }
  
  .navbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/nyan.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 999;
  }
  .navbar-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-navv {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-linkk {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
  }
  
  .nav-linkk:hover {
    background-color: #00aaff;
  }
  
  .nav-linkk:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00aaff;
  }
  
  .nav-linkk:active {
    transform: translateY(2px);
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .navbar-navv {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .navbar-navv.active {
      display: flex;
    }
  
    .nav-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .contacto {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
  
  .glitch-container {
    position: relative;
    font-size: 1.6rem;
  }
  
  .glitch-text {
    font-size: 1.6rem;
    padding: .5rem;
    color: #fff;
    position: relative;
    animation: glitch 2s infinite;
  }
  
  @keyframes glitch {
    0%, 100% {
      text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    }
    25%, 75% {
      text-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f;
    }
    50% {
      text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0;
    }
  }
  

/*   tamaño carrusel y estilos superficiales */

.imgcrr{
    filter: brightness(36%);
    height: 88.5vh;
    object-fit: fill;
    position: center;
    
    
}



/* nuestras tecnologias */

/* Basic Reset */

.imgL{
    position: relative;
    width:70%;
}


/* Wrapper */
.wrapper {
  max-width: 960px;
  margin: 65px auto 0;
  display: grid;
}

/* Social Networks */
h1 {
  text-align: center;
  display: block;
  overflow: hidden;
  font-size: 1em;
  font-weight: 100;
  margin: 0 0 60px 0;
  font: 48px sans-serif;
  color: rgba(19, 93, 129, 0.8);
  text-shadow: 
    0 1px #27bcf0, 
    0 2px #26b6ec,
    0 3px #27b4ed, 
    0 4px #26b5eb,
    0 5px #26b5eb,
    0 6px #26b5eb,
    0 7px #26b5eb,
    0 8px #26b5eb,

}
h1 span {
  position: relative;
  display: inline-block;
  line-height: 1;
}
h1 span:before,
h1 span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #26b6ec;
  width: 99999px;
}
h1 span:before {
  left: 100%;
  margin-left: 20px;
}
h1 span:after {
  right: 100%;
  margin-right: 20px;
}

.h1_de_contacto{
  color: white;
}

.list {
  padding-top: 10%;
  position: relative;
  width: 470px;
  margin: auto;
}


/* estilos de tecnologias */

/* Wrapper */
.icon-button {
  background-color: #1E1F26;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.python span {
  background-color: #4099ff;
}
.css span {
  background-color: #3B5998;
}
.mysql span {
  background-color: #ECE5C7;
}
.mongo span {
  background-color: #47A992;
}
.js span {
  background-color: #FFD93D;
}
.node span {
  background-color: #C7E9B0;
}
.react span {
  background-color: #B0DAFF;
}

.lenguajes {

  width: 80%;
}
/* Icons */
.icon-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-python {
  color: #4099ff;
}
.icon-button .icon-css {
  color: #3B5998;
}
.icon-button .icon-mysql {
  color: #ECE5C7;
}
.icon-button .icon-mongo {
  color: #47A992;
}

.icon-button .icon-js {
  color: #FFD93D;
}

.icon-button .icon-node {
  color: #C7E9B0;
}


.tecnologias,
.tecnologias2 {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 200px;
}

@media (max-width: 768px) {
  .tecnologias,
  .tecnologias2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}



  /* ---------------area de integrantes------------ */


  .slider{width: 100%}
  .slider input{display: none;}
  .Miembros{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 480px;
    perspective: 1000px;
    overflow: hidden;
  }
  .Miembros .item{
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #21262d;
    position: absolute;
    border:3px solid white;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
  }
  .Miembros .item h1{font-size: 114px; color: white;}
  .dots{display: flex; justify-content: center;align-items: center;}
  .dots label{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #413B52;
    margin: 7px;
    transition-duration: 0.2s;
  }
  
  #t-1:checked ~ .dots label[for="t-1"],
      #t-2:checked ~ .dots label[for="t-2"],
      #t-3:checked ~ .dots label[for="t-3"],
      #t-4:checked ~ .dots label[for="t-4"],
      #t-5:checked ~ .dots label[for="t-5"],
      #t-6:checked ~ .dots label[for="t-6"],
      #t-7:checked ~ .dots label[for="t-7"],
      #t-8:checked ~ .dots label[for="t-8"],
      #t-9:checked ~ .dots label[for="t-9"],
      #t-10:checked ~ .dots label[for="t-10"] {
          transform: scale(2);
          background-color: #fff;
          box-shadow: 0px 0px 0px 3px #dddddd24;
      }
  
      #t-1:checked ~ .dots label[for="t-2"],
      #t-2:checked ~ .dots label[for="t-1"],
      #t-2:checked ~ .dots label[for="t-3"],
      #t-3:checked ~ .dots label[for="t-2"],
      #t-3:checked ~ .dots label[for="t-4"],
      #t-4:checked ~ .dots label[for="t-3"],
      #t-4:checked ~ .dots label[for="t-5"],
      #t-5:checked ~ .dots label[for="t-4"],
      #t-6:checked ~ .dots label[for="t-5"],
      #t-7:checked ~ .dots label[for="t-6"],
      #t-8:checked ~ .dots label[for="t-7"],
      #t-9:checked ~ .dots label[for="t-8"],
      #t-10:checked ~ .dots label[for="t-9"] {
          transform: scale(1.5);
      }
  
      #t-1:checked ~ .Miembros label[for="t-3"],
      #t-2:checked ~ .Miembros label[for="t-4"],
      #t-3:checked ~ .Miembros label[for="t-5"],
      #t-4:checked ~ .Miembros label[for="t-6"],
      #t-5:checked ~ .Miembros label[for="t-7"],
      #t-6:checked ~ .Miembros label[for="t-8"],
      #t-7:checked ~ .Miembros label[for="t-9"],
      #t-8:checked ~ .Miembros label[for="t-10"],
      #t-9:checked ~ .Miembros label[for="t-1"],
      #t-10:checked ~ .Miembros label[for="t-2"] {
          transform: translate3d(600px, 0, -180px) rotateY(-25deg);
          z-index: 2;
      }
  
      #t-1:checked ~ .Miembros label[for="t-2"],
      #t-2:checked ~ .Miembros label[for="t-3"],
      #t-3:checked ~ .Miembros label[for="t-4"],
      #t-4:checked ~ .Miembros label[for="t-5"],
      #t-5:checked ~ .Miembros label[for="t-6"],
      #t-6:checked ~ .Miembros label[for="t-7"],
      #t-7:checked ~ .Miembros label[for="t-8"],
      #t-8:checked ~ .Miembros label[for="t-9"],
      #t-9:checked ~ .Miembros label[for="t-10"],
      #t-10:checked ~ .Miembros label[for="t-1"] {
          transform: translate3d(300px, 0, -90px) rotateY(-15deg);
          z-index: 3;
      }
  
      #t-2:checked ~ .Miembros label[for="t-1"],
      #t-3:checked ~ .Miembros label[for="t-2"],
      #t-4:checked ~ .Miembros label[for="t-3"],
      #t-5:checked ~ .Miembros label[for="t-4"],
      #t-6:checked ~ .Miembros label[for="t-5"],
      #t-7:checked ~ .Miembros label[for="t-6"],
      #t-8:checked ~ .Miembros label[for="t-7"],
      #t-9:checked ~ .Miembros label[for="t-8"],
      #t-10:checked ~ .Miembros label[for="t-9"],
      #t-1:checked ~ .Miembros label[for="t-10"] {
          transform: translate3d(-300px, 0, -90px) rotateY(15deg);
          z-index: 3;
      }
  
      #t-3:checked ~ .Miembros label[for="t-1"],
      #t-4:checked ~ .Miembros label[for="t-2"],
      #t-5:checked ~ .Miembros label[for="t-3"],
      #t-6:checked ~ .Miembros label[for="t-4"],
      #t-7:checked ~ .Miembros label[for="t-5"],
      #t-8:checked ~ .Miembros label[for="t-6"],
      #t-9:checked ~ .Miembros label[for="t-7"],
      #t-10:checked ~ .Miembros label[for="t-8"],
      #t-1:checked ~ .Miembros label[for="t-9"],
      #t-2:checked ~ .Miembros label[for="t-10"] {
          transform: translate3d(-600px, 0, -180px) rotateY(25deg);
      }
  
      #t-1:checked ~ .Miembros label[for="t-1"],
      #t-2:checked ~ .Miembros label[for="t-2"],
      #t-3:checked ~ .Miembros label[for="t-3"],
      #t-4:checked ~ .Miembros label[for="t-4"],
      #t-5:checked ~ .Miembros label[for="t-5"],
      #t-6:checked ~ .Miembros label[for="t-6"],
      #t-7:checked ~ .Miembros label[for="t-7"],
      #t-8:checked ~ .Miembros label[for="t-8"],
      #t-9:checked ~ .Miembros label[for="t-9"],
      #t-10:checked ~ .Miembros label[for="t-10"] {
          z-index: 4;
      }
  
    
    .our-team {
      padding: 30px 0 40px;
      margin-bottom: 30px;
      background-color: #f7f5ec;
      text-align: center;
      overflow: hidden;
      position: relative;
    }
    
    .our-team .picture {
      display: inline-block;
      height: 130px;
      width: 130px;
      margin-bottom: 50px;
      z-index: 1;
      position: relative;
    }
    
    .our-team .picture::before {
      content: "";
      width: 100%;
      height: 0;
      border-radius: 50%;
      background-color: rgb(206, 66, 19);
      position: absolute;
      bottom: 135%;
      right: 0;
      left: 0;
      opacity: 0.9;
      transform: scale(3);
      transition: all 0.3s linear 0s;
    }
    
    .our-team:hover .picture::before {
      height: 100%;
    }
    
    .our-team .picture::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgb(206, 66, 19);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    
    .our-team .picture img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      transform: scale(1);
      transition: all 0.9s ease 0s;
    }
    
    .our-team:hover .picture img {
      box-shadow: 0 0 0 14px #f7f5ec;
      transform: scale(0.7);
    }
    
    .our-team .title {
      display: block;
      font-size: 15px;
      color: #4e5052;
      text-transform: capitalize;
    }
    
    .our-team .social {
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: rgb(206, 66, 19);
      position: absolute;
      bottom: -100px;
      left: 0;
      transition: all 0.5s ease 0s;
    }
    
    .our-team:hover .social {
      bottom: 0;
    }
    
    .our-team .social li {
      display: inline-block;
    }
    
    .our-team .social li a {
      display: block;
      padding: 10px;
      font-size: 17px;
      color: white;
      transition: all 0.3s ease 0s;
      text-decoration: none;
    }
    
    .our-team .social li a:hover {
      color: #1369ce;
      background-color: #f7f5ec;
    }
    

/* seccion contacto */

/* -------------------Contactanos------------------- */








/*------input and submit section-------*/

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 2px solid #ffffff;
  margin: 8px 0;
  font-family: monospace;
}

.input-container input {
  background-color: #fff;
  padding: 6px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 250px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}



.input-mail:focus::placeholder {
  opacity: 0;
  transition: opacity .9s;
}

.input-pwd:focus::placeholder {
  opacity: 0;
  transition: opacity .9s;
}

.submit {
  position: relative;
  display: block;
  padding: 8px;
  background-color: #c0c0c0;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 97%;
  text-transform: uppercase;
  overflow: hidden;
}

.submit:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 3.9px;
  box-shadow: 4px 5px 17px -4px #ffffff;
  cursor: pointer;
}

.submit:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 .5s 0s linear;
}

.submit::before {
  content: '';
  display: block;
  width: 0px;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

/*--------signup section---------*/

.signup-link {
  color: #c0c0c0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  font-family: monospace;
}

.signup-link a {
  color: #fff;
  text-decoration: none;
}

.up:hover {
  text-decoration: underline;
}


/*--------header section-----------*/

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  animation-duration: 1.5s;
  overflow: hidden;
  transition: .12s;
}

.form-title span {
  animation: flickering 2s linear infinite both;
}

.led{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: #fff 0.1rem;
  color: transparent;
  text-shadow: 0px 0px 16px #CECECE;
  justify-content: center;
  align-items: center;
}

.title-2 {
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: #fff 0.1rem;
  letter-spacing: 0.2rem;
  color: transparent;
  position: relative;
  text-shadow: 0px 0px 16px #CECECE;
  justify-content: center;
  align-items: center;
}

.title-2 span::before,
.title-2 span::after {
  content: '—';
}

@keyframes flickering {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

/*---------shooting stars-----------*/

.main_back {
  position: absolute;
  border-radius: 10px;
  transform: rotate(90deg);
  width: 11em;
  height: 11em;
  background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 14rem;
  align-items: center;
  justify-content: center;
  z-index: -1;
  margin: auto;
}

.card {
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  background: lightgrey;
  transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
  background: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .instagram {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #cc39a4;
}

.card:nth-child(2) {
  border-radius: 0px;
}

.card:nth-child(2) .twitter {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #03A9F4;
}

.card:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(3) .dribble {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #eb1313;
}

.card:nth-child(4) {
  border-radius: 0px;
}

.card:nth-child(4) .codepen {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #0e76a8;
}

.card:nth-child(5) {
  border-radius: 0px;
}

.card:nth-child(5) .uiverse {
  position: absolute;
  margin-left: 0.2em;
  margin-top: 0.2em;
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #6441a5;
}

.card:nth-child(6) {
  border-radius: 0px;
}

.card:nth-child(6) .discord {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #8c9eff;
}

.card:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(7) .github {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: black;
}

.card:nth-child(8) {
  border-radius: 0px;
}

.card:nth-child(8) .telegram {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #29b6f6;
}

.card:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(9) .reddit {
  opacity: 0;
  transition: .2s ease-in-out;
}

.main:hover {
  width: 14em;
  cursor: pointer;
}

.main:hover .main_back {
  opacity: 0;
}

.main:hover .card {
  margin: .2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.main:hover .card:nth-child(5) {
  border: transparent;
}

.main:hover .text {
  opacity: 0;
  z-index: -3;
}

.main:hover .instagram {
  opacity: 1;
}

.main:hover .twitter {
  opacity: 1;
}

.main:hover .dribble {
  opacity: 1;
}

.main:hover .codepen {
  opacity: 1;
}

.main:hover .uiverse {
  opacity: 1;
}

.main:hover .discord {
  opacity: 1;
}

.main:hover .github {
  opacity: 1;
}

.main:hover .telegram {
  opacity: 1;
}

.main:hover .reddit {
  opacity: 1;
}

.card:nth-child(1):hover {
  background-color: #cc39a4;
}

.card:nth-child(1):hover .instagram {
  fill: white;
}

.card:nth-child(2):hover {
  background-color: #03A9F4;
}

.card:nth-child(2):hover .twitter {
  fill: white;
}

.card:nth-child(3):hover {
  background-color: #ff0f0f;
}

.card:nth-child(3):hover .dribble {
  fill: rgb(255, 255, 255);
}

.card:nth-child(4):hover {
  background-color: #1E1F26;
}

.card:nth-child(4):hover .codepen {
  fill: white;
}

.card:nth-child(5):hover {
  animation: backgroundIMG .1s;
  animation-fill-mode: forwards;
}

.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
  stop-color: rgb(0, 0, 0);
}

.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
  stop-color: white;
}

@keyframes backgroundIMG {
  100% {
    background-image: linear-gradient(#BF66FF,#6248FF,#00DDEB);
  }
}

.card:nth-child(6):hover {
  background-color: #8c9eff;
}

.card:nth-child(6):hover .discord {
  fill: white;
}

.card:nth-child(7):hover {
  background-color: black;
}

.card:nth-child(7):hover .github {
  fill: white;
}

.card:nth-child(8):hover {
  background-color: #000000;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(1) {
  fill: rgb(255, 255, 255);
}

.card:nth-child(8):hover .telegram > path:nth-of-type(2) {
  fill: #000000;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(3) {
  fill: #000000;
}

.card:nth-child(9):hover {
  background-color: rgb(255,69,0);
}

.card:nth-child(9) .reddit > g circle {
  fill: rgb(255,69,0);
}

.card:nth-child(9) .reddit > g path {
  fill: white;
}

.text {
  position: absolute;
  font-size: 0.7em;
  transition: .4s ease-in-out;
  color: black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.33em;
  z-index: 3;
}

.contacto{
  display: flex ;
  flex-direction: row ;
  justify-content: space-around ;
  
}

.palFondo{
  background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%, 
            rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, 
            rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
}

.formulario{
  display: grid;
  justify-content: center;
  text-align: center;
}

/* footer */






   /* seccion de alianzas */


   .teams {
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
  }
  .card1{
    background-color: #f7f5ec;
    padding:2rem;
    display:flex;
    flex-direction:column;
   justify-content:space-between;
    width:250px;
    height:350px;
    box-shadow:2px 4px 8px rgba(0,0,0,.2);
    border-radius:5px;
  }
  .card1:hover{
    background-color: #9BA4B5;  
  }
  .card-top{
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .link{
    padding-top: 2%;
    text-align: center;
  }
  
  .card-top .imgR{
    width:80px;
    height:80px;
    box-shadow:1px 1px 4px 2px rgba(255,255,255,.2);
    border-radius:50%;
  }
  .card-top.name{
    margin-top:10px;
    color:#fff;
    text-transform:capitalize;
  }
  .card-top.link {
    color: #838985;
    cursor:pointer;
  }
  .card-top.link::before{
    content:"@"
  }
  .btn{
    border:2px solid #1D0E2E;
    padding:.6rem;
    border-radius:30px;
    color:#fff;
    background:transparent;
    cursor:pointer;
    text-transform:capitalize;
    transition: .2s easy-in-out;
  }
  .btn:hover{
    background:#97DEFF;
    box-shadow:2px 4px 3px #1D0E2E;
  }
  
  .teams {
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
  }
  .card1{
    padding:2rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:250px;
    height:350px;
    box-shadow:2px 4px 8px rgba(0,0,0,.2);
    border-radius:5px;
  }
  .card1:hover{
    background-color: #9BA4B5;  
  }
  .card-top{
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .link{
    padding-top: 2%;
    text-align: center;
  }
  
  .card-top .imgR{
    width:80px;
    height:80px;
    box-shadow:1px 1px 4px 2px rgba(255,255,255,.2);
    border-radius:50%;
  }
  .card-top.name{
    margin-top:10px;
    color:#fff;
    text-transform:capitalize;
  }
  .card-top.link {
    color: #838985;
    cursor:pointer;
  }
  .card-top.link::before{
    content:"@"
  }
  .btn{
    border:2px solid #1D0E2E;
    padding:.6rem;
    border-radius:30px;
    color:#fff;
    background:transparent;
    cursor:pointer;
    text-transform:capitalize;
    transition:.2s easy-in-out;
  }
  .btn:hover{
    background:#97DEFF;
    box-shadow:2px 4px 3px #1D0E2E;
  }
  

  
  /* ----seccion proyectos----*/
  
  
#proyectos{
    background-image: url(../img/nyan2.gif);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    color:white;
}
#infos{
  max-width: 90%;
  height: auto;

}
#LV label{
  color: white;
}
@media screen and (max-width: 400px) {
    #LV1, #LI, #MI, #RI, #TI{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
}
#contineall1, #contineall2, #contineall3, #contineall4, #contineall5{
    max-height: 0;
    overflow: hidden;
    color: white;
    transition: all 0s ease;  
  }
  .labels label{
    color: white !important;
    cursor: pointer;
    transition: all 400ms ease;
    text-decoration: underline white;
  }
  .labels label:hover{
    color: gray;
    text-decoration: underline gray;
  }
  /*  */
   #valorantcheck, #Isaaccheck, #Minecraftcheck, #Robloxcheck, #Terrariacheck{
     display: none;
  }  
  #Minecraftcheck:checked + #contineall3{
    max-height: 100%;
  }
  #Robloxcheck:checked + #contineall4{
    max-height: 100%;
  }
  #Terrariacheck:checked + #contineall5{
    max-height: 100%;
  }
  #Isaaccheck:checked + #contineall2{
    max-height: 100%;
  }
  #valorantcheck:checked + #contineall1{
    max-height: 100%;
  }
  
  
  /* FORMULARIO */
  
.form {
  position: relative;
  display: block;
  padding: 2.2rem;
  max-width: 350px;
  background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%, 
            rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, 
            rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
  border: 2px solid #fff;
  -webkit-box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  overflow: hidden;
}

.formu {
  position: relative;
  display: block;
  background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%, 
            rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, 
            rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
  border: 2px solid #fff;
  -webkit-box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  overflow: hidden;
  z-index: +1;
}

/*------input and submit section-------*/

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.input-container input, .form button {
  outline: none;
  border: 2px solid #ffffff;
  margin: 8px 0;
  font-family: monospace;
}

.input-container input {
  background-color: #fff;
  padding: 6px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 250px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-mail:focus::placeholder {
  opacity: 0;
  transition: opacity .9s;
}

.input-pwd:focus::placeholder {
  opacity: 0;
  transition: opacity .9s;
}

.submit {
  position: relative;
  display: block;
  padding: 8px;
  background-color: #c0c0c0;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
}

.submit:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 3.9px;
  box-shadow: 4px 5px 17px -4px #ffffff;
  cursor: pointer;
}

.submit:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 .5s 0s linear;
}

.submit::before {
  content: '';
  display: block;
  width: 0px;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  
  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

/*--------signup section---------*/

.signup-link {
  color: #c0c0c0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  font-family: monospace;
}

.signup-link a {
  color: #fff;
  text-decoration: none;
}

.up:hover {
  text-decoration: underline;
}


/*--------header section-----------*/

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  animation-duration: 1.5s;
  overflow: hidden;
  transition: .12s;
}

.form-title span {
  animation: flickering 2s linear infinite both;
}

.title-2 {
  display: block;
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: #fff 0.1rem;
  letter-spacing: 0.2rem;
  color: transparent;
  position: relative;
  text-shadow: 0px 0px 16px #CECECE;
}

.title-2 span::before,
.title-2 span::after {
  content: '—';
}

@keyframes flickering {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

/*---------shooting stars-----------*/

.bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%,100% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 30%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 4s linear infinite;
}

.star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-0%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate {
  0% {
    transform: rotate(335deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(335deg) translateX(-1000px);
    opacity: 0;
  }
}

.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}

.star:nth-child(2) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 0;
  right: 220px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.star:nth-child(4) {
  top: 0;
  right: -220px;
  left: initial;
  animation-delay: 2s;
  animation-duration: 1.9s;
}

.star:nth-child(5) {
  top: 0;
  right: 320px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 1.8s;
}

.star:nth-child(6) {
  top: 0;
  right: -320px;
  left: initial;
  animation-delay: 1.9s;
  animation-duration: 1.8s;
}



/*estrellas*/
/* ---- reset ---- */ 








/* ---------footer estilos---------- */



footer{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-color: black;
  color: white;
}

.footer h3 {
  color: #fff;
}

.footer p {
  color: #ccc;
}
.footer .contact-info {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.footer .contact-info dt {
  margin-bottom: 10px;
  list-style-type: none; 
}

.footer .contact-info i {
  margin-right: 10px;
}

.contact-info{
 gap: 10px;
}

.d{
  margin-left: 2%;
}

.footer .container {3
  text-align: center;
}

.footer .container .row {
  display: flex;
  justify-content: space-between;
}


/* cohete estilos */
.rocket {
  position: relative;
  top: 20%;
  width: 40px;
  left: calc(50% - 20px);
}

.rocket .rocket-body {
  width: 40px;
  left: calc(50% - 25px);
  animation: bounce 0.5s infinite;
}

.rocket .rocket-body .body {
  background-color: #dadada;
  height: 90px;
  left: calc(50% - 25px);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 2.5px solid #f5f5f5;
}

.rocket .rocket-body:before {
  content: '';
  position: absolute;
  left: calc(50% - 12px);
  width: 24px;
  height: 6.5px;
  background-color: #554842;
  bottom: -6.5px;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 60%;
}

.rocket .window {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #a75248;
  left: calc(50% - 12.5px);
  top: 20px;
  border: 2.5px solid #b4b2b2;
}

.rocket .fin {
  position: absolute;
  z-index: -100;
  height: 27.5px;
  width: 25px;
  background-color: #a75248;
}

.rocket .fin-left {
  left: -15px;
  top: calc(100% - 27.5px);
  border-top-left-radius: 80%;
  border-bottom-left-radius: 20%;
}

.rocket .fin-right {
  right: -15px;
  top: calc(100% - 27.5px);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 20%;
}

.rocket .exhaust-flame {
  position: absolute;
  top: 45%;
  width: 14px;
  background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
  height: 75px;
  left: calc(50% - 7px);
  animation: exhaust 0.2s infinite;
}

.rocket .exhaust-fumes li {
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  list-style: none;
  position: absolute;
  border-radius: 100%;
}

.rocket .exhaust-fumes li:first-child {
  width: 100px;
  height: 100px;
  bottom: -150px;
  animation: fumes 5s infinite;
}

.rocket .exhaust-fumes li:nth-child(2) {
  width: 75px;
  height: 75px;
  left: -60px;
  top: 130px;
  animation: fumes 3.2s infinite;
}

.rocket .exhaust-fumes li:nth-child(3) {
  width: 60px;
  height: 60px;
  left: -20px;
  top: 165px;
  animation: fumes 3s 1s infinite;
}

.rocket .exhaust-fumes li:nth-child(4) {
  width: 50px;
  height: 50px;
  left: -85px;
  animation: fumes 4s 2s infinite;
  top: 190px;
}

.rocket .exhaust-fumes li:nth-child(5) {
  width: 65px;
  height: 65px;
  left: -60px;
  top: 175px;
  animation: fumes 5s infinite;
}

.rocket .exhaust-fumes li:nth-child(6) {
  width: 100px;
  height: 100px;
  left: -30px;
  top: 140px;
  animation: fumes2 10s infinite;
}

.rocket .exhaust-fumes li:nth-child(7) {
  width: 50px;
  height: 50px;
  left: -50px;
  top: 160px;
}

.rocket .exhaust-fumes li:nth-child(8) {
  width: 55px;
  height: 55px;
  left: 35px;
  top: 170px;
}

.rocket .exhaust-fumes li:nth-child(9) {
  width: 45px;
  height: 45px;
  left: 100px;
  top: 190px;
  animation: fumes 20s infinite;
}

.Star li {
  list-style: none;
  position: absolute;
}

.Star li:before,
.Star li:after {
  content: '';
  position: absolute;
  background-color: #f5f5f5;
}

.Star li:before {
  width: 5px;
  height: 1px;
  border-radius: 50%;
}

.Star li:after {
  height: 4px;
  width: 1px;
  left: 2px;
  top: -1.5px;
}

.Star li:first-child {
  top: -15px;
  left: -105px;
  animation: twinkle 0.2s infinite;
}

.Star li:nth-child(2) {
  top: 0;
  left: 30px;
  animation: twinkle 0.25s infinite;
}

.Star li:nth-child(2):before {
  height: 0.5px;
  width: 2.5px;
}

.Star li:nth-child(2):after {
  width: 0.5px;
  height: 2.5px;
  top: -1px;
  left: 1px;
}

.Star li:nth-child(3) {
  left: 60px;
  top: 110px;
  animation: twinkle 0.5s infinite;
}

.Star li:nth-child(4) {
  left: -50px;
  top: 100px;
  animation: twinkle 0.25s ease infinite;
}

.Star li:nth-child(5) {
  left: 85px;
  top: 50px;
  animation: twinkle 0.2s ease infinite;
}

.Star li:nth-child(6) {
  top: 43.5px;
  left: -39.5px;
  animation: twinkle 0.1s infinite;
}

.Star li:nth-child(6):before {
  height: 0.5px;
  width: 2.5px;
}

.Star li:nth-child(6):after {
  width: 0.5px;
  height: 2.5px;
  top: -1px;
  left: 1px;
}

@keyframes fumes {
  50% {
    transform: scale(0.75);
    background-color: transparent;
  }

  51% {
    transform: scale(0.4);
  }

  100% {
    background-color: #f5f5f5;
    transform: scale(0.5);
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }

  50% {
    transform: translate3d(0px, -2px, 0);
  }

  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

@keyframes exhaust {
  0% {
    background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
  }

  50% {
    background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%);
  }

  75% {
    background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%);
  }
}

@keyframes fumes2 {
  50% {
    transform: scale(0.55);
  }
}

@keyframes twinkle {
  80% {
    transform: scale(0.55);
    opacity: 0.7;
  }
}
